<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISystemManagerService"  useDefaultWebProxy="false"/>
        <binding name="BasicHttpBinding_ILogService"  useDefaultWebProxy="false"/>
      </basicHttpBinding>
    </bindings>
    <client >
      <endpoint address="http://10.0.0.122:7777/AdminService/SystemManagerService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemManagerService"
          contract="SystemMenagerService.ISystemManagerService" name="BasicHttpBinding_ISystemManagerService" />
      <endpoint address="http://10.0.0.122:7777/AdminService/LogService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogService"
          contract="LogService.ILogService" name="BasicHttpBinding_ILogService" />
    </client>
  </system.serviceModel>
</configuration>