<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISystemManagerService" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_ILogService" maxBufferPoolSize="2000000"
          maxReceivedMessageSize="2000000" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_IInfoManagerService" maxBufferPoolSize="2000000"
          maxReceivedMessageSize="2000000" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_IWebService" />
        <binding name="BasicHttpBinding_IPhoneService" />
        <binding name="BasicHttpBinding_IFliterService" maxBufferPoolSize="2000000"
          maxReceivedMessageSize="2000000" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.0.0.7:7770/WebService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWebService" contract="WebServiceReference.IWebService"
        name="BasicHttpBinding_IWebService" />
      <endpoint address="http://10.0.0.7:7770/PhoneService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPhoneService" contract="PhoneServiceReference.IPhoneService"
        name="BasicHttpBinding_IPhoneService" />
      <endpoint address="http://121.40.79.86:8777/AdminService/FliterService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFliterService"
        contract="FliterService.IFliterService" name="BasicHttpBinding_IFliterService" />
      <endpoint address="http://10.0.0.211:8071/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="DubiousService.IService"
        name="BasicHttpBinding_IService" />
      <endpoint address="http://121.40.79.86:8777/AdminService/SystemManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemManagerService"
        contract="SystemMenagerService.ISystemManagerService" name="BasicHttpBinding_ISystemManagerService" />
      <endpoint address="http://121.40.79.86:8777/AdminService/LogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogService"
        contract="LogService.ILogService" name="BasicHttpBinding_ILogService" />
      <endpoint address="http://121.40.79.86:7778/InfoManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfoManagerService"
        contract="InfoManagerService.IInfoManagerService" name="BasicHttpBinding_IInfoManagerService" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="localToken" value="anjiQuery"/>
    <add key="logCount" value="200"/>
    <add key="infoCount" value="100"/>
    <!-- Time span of keep line (s)-->
    <add key="keepSpan"  value="100"/>
    <!--检查注销时间间隔(s)-->
    <add key="checkCancelSpan" value="50"/>
    <!--检查安全防护时间间隔(s)-->
    <add key="checkSafeSpan"  value="10"/>
    <!--用于检查的防伪码（微信使用14个1）-->
    <add key="code" value="76828381475848"/>
    <!--短信地址-->
    <add key="smPath" value="http://localhost:7770/SMService.ashx"/>
    <!--微信地址-->
    <add key="weixinServiceAddress" value="http://localhost:7770/WeixinService.asmx/Query"/>
    <!--短信正确返回-->
    <add key="smReturnMsg" value="对不起！您的号码已被查询过多次查询,或者已被注销。谨防假冒！。"/>
    <!--微信正确返回-->
    <add key="weixinReturnMsg" value="对不起！您所查验的号码，未在本平台注册。"/>
    <!--电话正确回复-->
    <add key="phoneReturnMsg" value="code;j"/>
    <!--网页正确回复数量-->
    <add  key="webReturnCount" value="6"/>

    <!--黑名单筛选参数-->
    <!--短时间频繁查询-->
    <!--时间长度(s)-->
    <add key="shortTimeSpan" value="40"/>
    <!--查询次数-->
    <add key="shortTimeQueryTimes" value="5"/>
    <!--24小时查询次数限制-->
    <add key="timesForOneDay" value="50"/>
    <!--更新白名单间隔(s)-->
    <add key="SyncWhiteNoteSpan" value="300"/>
    <!--更新黑名单间隔(s)-->
    <add key="SyacBlackNoteSpan" value="900"/>

    <!--老平台接口监控参数-->
    <add key="oldCode" value="123456789012349"/>
    <add key="oldCodeAddress" value="http://afnt.whyx.net:8000/afnt/querydToshiba2.php"/>
    <add key="oldCodeReturnString" value="j:79:"/>
    <add key="colorfulCode" value="123456789012"/>
    <add key="colorfulCodeAddress" value="http://2d.4d4c.com/s.php"/>
    <add key="colorfulCodeReturnString" value="您查询的产品是假货！请和经销商联系！"/>

    <!--警告错误量-->
    <add key="MaxErrorCount" value="4"/>

    <!--检测网站访问性-->
    <add key="CheckWeb" value="http://315.zhijianfw.com^方法一：微信验证;http://tlxh.zhijianfw.com/AnjiQuery_Mobile/Query.aspx^请输入防伪码：;http://tlxh.zhijianfw.com/symm/symmq.aspx^请输入防伪码：;http://tlxh.zhijianfw.com/demo/njr/njwlzz/^Button2" />

    <!--可疑度-->
    <!--新查询方式增加幅度-->
    <add key="DobiousByNewMold" value="5"/>
    <!--旧查询方式新特征增加幅度-->
    <add key="DobiousByNewFeature" value="5"/>
  </appSettings>
</configuration>