<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISystemManagerService" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_ILogService" maxBufferPoolSize="200000"
          maxReceivedMessageSize="200000" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_IInfoManagerService" maxBufferPoolSize="200000"
          maxReceivedMessageSize="200000" useDefaultWebProxy="false" />
        <binding name="BasicHttpBinding_IWebService" />
        <binding name="BasicHttpBinding_IPhoneService" />
        <binding name="WeixinServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WeixinServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7778/InfoManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInfoManagerService"
        contract="InfoManagerService.IInfoManagerService" name="BasicHttpBinding_IInfoManagerService" />
      <endpoint address="http://localhost:88777/AdminService/LogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogService"
        contract="LogService.ILogService" name="BasicHttpBinding_ILogService" />
      <endpoint address="http://localhost:8777/AdminService/SystemManagerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISystemManagerService"
        contract="SystemMenagerService.ISystemManagerService" name="BasicHttpBinding_ISystemManagerService" />
      <endpoint address="http://localhost:7770/WebService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWebService" contract="WebServiceReference.IWebService"
        name="BasicHttpBinding_IWebService" />
      <endpoint address="http://localhost:7770/PhoneService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPhoneService" contract="PhoneServiceReference.IPhoneService"
        name="BasicHttpBinding_IPhoneService" />
      <endpoint address="http://10.0.0.7:7770/WeixinService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WeixinServiceSoap" contract="WeixinServiceReference.WeixinServiceSoap"
        name="WeixinServiceSoap" />
      <endpoint address="http://10.0.0.7:7770/WeixinService.asmx" binding="customBinding"
        bindingConfiguration="WeixinServiceSoap12" contract="WeixinServiceReference.WeixinServiceSoap"
        name="WeixinServiceSoap12" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="localToken" value="anjiQuery"/>
    <add key="logCount" value="200"/>
    <add key="infoCount" value="100"/>
    <!-- Time span of keep line (s)-->
    <add key="keepSpan"  value="100"/>
    <add key="checkCancelSpan" value="600"/>
    <add key="checkSafe"  value="10"/>
  </appSettings>
</configuration>